/* Open Sans variable font */
@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: italic;
  font-display: swap;
}

/* Source Serif 4 variable font */
@font-face {
  font-family: 'Source Serif 4';
  src: url('./SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('./SourceSerif4-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

/* Bolder default for Source Serif 4 when used as title/heading font (sebastienbarbier theme) */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}
